<div class="row">
    <h4 class="frame-title">{{msg('vxml.web.send.title')}}</h4>
    <div class="inside">

        <div class="alert alert-danger alert-block" ng-show="config.configs.length == 0">
            {{msg('vxml.web.send.noConfigErrorBody')}}<br/>
            {{msg('vxml.web.send.noConfigErrorAction')}} <a href="#/vxml/settings">{{msg('vxml.web.send.noConfigErrorTab')}}</a>.
        </div>
        <div ng-repeat="message in messages" class="alert alert-success alert-block animate-repeat">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>
        <div ng-show="error.length > 0" class="alert alert-error alert-block" ng-bind="error"></div>

        <form name="form" class="form-horizontal inside" ng-submit="sendVxml()" ng-hide="!config || config.configs.length == 0" novalidate>

            <div class="form-group">
                <label class="col-md-2 col-sm-3 control-label">{{msg('vxml.web.send.config')}}</label>
                <div class="form-inline col-md-10 col-sm-9">
                    <label class="radio-inline" ng-repeat="conf in config.configs">
                        <input type="radio" value="{{conf.name}}" ng-model="vxml.config">
                        {{conf.name}}
                    </label>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': !vxml.recipients}">
                <label class="col-md-2 control-label" for="recipients">
                    {{msg('vxml.web.send.recipients')}}
                </label>
                <div class="col-md-4" tooltip="{{msg('vxml.web.send.recipients.tooltip')}}">
                    <input name="recipients" id="recipients" class="form-control" type="text" ng-model="vxml.recipients" ng-pattern="/^[+]?[0-9]+(,[+]?[0-9]+)*$/" ng-list required ng-focus="true">
                    <span ng-show="form.recipients.$error.required" class="help-block">{{msg('vxml.web.required_field', msg('vxml.web.send.recipients_field'))}}</span>
                    <span ng-show="form.recipients.$error.pattern" class="help-block">{{msg('vxml.web.send.bad-number_format', msg('vxml.web.send.recipients_field'))}}</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': !vxml.message}">
                <label class="col-md-2 control-label" for="message">{{msg('vxml.web.send.message')}}<br/><span class="char-counter">{{vxml.message.length}}</span></label>
                <div class="col-md-4">
                    <textarea name="message" id="message" class="form-control textarea" rows="5" required ng-model="vxml.message"></textarea>
                    <span ng-show="form.message.$error.required" class="help-block">{{msg('vxml.web.required_field', msg('vxml.web.send.message_field'))}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 col-sm-3 control-label">
                    {{msg('vxml.web.send.delivery_time')}}
                </label>
                <div class="form-inline col-md-10 col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" value="now" ng-model="dt">
                        {{msg('vxml.web.send.immediately')}}
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="10sec" ng-model="dt">
                        {{msg('vxml.web.send.in10sec')}}
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="1min" ng-model="dt">
                        {{msg('vxml.web.send.in1min')}}
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="1hour" ng-model="dt">
                        {{msg('vxml.web.send.in1hour')}}
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-sm-offset-3 col-md-10 col-sm-9">
                    <input class="btn btn-primary" type="submit" value="{{msg('vxml.web.send.send')}}" ng-disabled="form.$invalid || messages.length"/>
                </div>
            </div>
        </form>
    </div>
</div>
